@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[whitesmoke] dark:bg-gray-900 text-gray-800 dark:text-gray-100 transition-colors duration-200;
  scroll-behavior: smooth;
  cursor: pointer;
}

.scroll-smooth {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.dark ::-webkit-scrollbar-track {
  background: #374151;
}

.dark ::-webkit-scrollbar-thumb {
  background: #6b7280;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}